@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  transition: 250ms ease;
}

:root {
  --main-color: #91a6ff;
  --rich-black: #00171f;
  --black: #000000ff;
  --blue-jeans: #48acf0ff;
  --tickle-me-pink: #ff82a9ff;
  --spanish-pink: #ffc0beff;
  --misty-rose: #ffebe7ff;
}

header li,
footer li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* for all container to get in center  */
.container-center {
  max-width: 900px;
  margin: auto;
}
.section {
  padding: 2rem;
}

/*! header starts from here.*/

header {
  border-bottom-left-radius: 1rem;
  background-color: var(--blue-jeans);
  /* border-bottom-left-radius: 1rem; */
}

header.section {
  padding-top: 0;

  box-shadow: 0 10px 6px -6px #777;
}
.first {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3rem;
}

.logo {
  padding-top: 2rem;
  font-weight: 500;
  font-size: 45px;
  text-transform: uppercase;
  line-height: 0.9;
  border-top: 4px solid #89023e;
}

.logo a {
  color: #89023e;
}

.logo a:hover {
  color: #30343f;
}

.tagline {
  color: #30343f;
  position: relative;
  left: 10.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar li {
  padding-left: 1rem;
}

.navbar a {
  font-weight: 500;
  color: #89023e;
  position: relative;
}
.navbar a:hover {
  color: var(--rich-black);
}

.navbar a:after {
  position: absolute;
  content: " ";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--rich-black);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.navbar a:hover::after {
  transform: scaleX(1);
  transform-origin: left;

  /* border-bottom: 3px solid #30343f; */
}
.second {
  font-weight: 500;
  margin-left: 1rem;
}
.second h1 {
  margin: 2rem 1rem;
  text-transform: uppercase;
  font-weight: 700;
}
.second p {
  font-size: 1.3rem;
  width: 90%;
  margin: 0 auto;
}
.btn {
  margin: 1.5rem 0 2rem 0;
  display: inline-block;
  border: 3px solid #89023e;
  border-radius: 1rem;
  padding: 1rem 2.5rem;
  color: black;
}

.btn:hover {
  background-color: #fd91c2c4;
}
/* header ends here.*/

/* main starts here  */

.main {
  display: flex;
}
main.section {
  margin: 2rem 0 2rem 0;
  font-size: 15px;
  line-height: 1.5rem;
}
img {
  width: 300px;
  margin: 1rem 2rem 1rem 0;
  border-radius: 10px;
}

.bold {
  text-transform: uppercase;
  font-weight: 700;
}

.img {
  text-align: center;
}

.img h3 {
  font-weight: 400;
  margin-bottom: 2rem;
}
/* main ends here */

/* footer starts here  */
footer {
  background-color: mistyrose;
  border-top-right-radius: 1rem;
}
footer .container-center {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1rem 0;
}

footer .navbar {
  font-size: 13px;
}
/* footer ends here  */

@media only screen and (max-width: 480px) {
  /* for all container to get in center  */

  .section {
    padding: 0.8rem;
  }

  /* header starts from here.*/

  header.section {
    padding-top: 0;
  }

  .first {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.5rem;
  }

  .logo {
    padding-top: 1.3rem;
    font-weight: 500;
    font-size: 20px;
  }

  /* navbar and tagline has been hidden here */
  .fogo {
    font-size: 16px;
    display: none;
  }

  .second {
    font-weight: 500;
    line-height: 1.5;
  }
  .second h1 {
    font-size: 25px;
    font-weight: 700;
  }
  .second p {
    font-size: 1rem;
  }
  /* header ends here.*/

  /* main starts here  */

  .main {
    display: flex;
    flex-direction: column;
  }
  main.section {
    margin: 2rem 0 2rem 0;
    font-size: 16px;
  }

  .img {
    width: 12.5rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 5px 5px #a3a0a036;
  }

  img {
    width: 9.375rem;
    /* border-radius: 50%; */
    margin: 1rem;
  }

  .bold {
    text-transform: uppercase;
    font-weight: 700;
  }

  .img h3 {
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .speakers {
    display: flex;
    flex-direction: column-reverse;
    margin: 2rem 1rem;
  }

  .speakers h3 {
    font-size: 17px;
    margin: 1rem 0 1rem 0;
  }

  /* main ends here  */

  footer .navbar {
    display: none;
    font-size: 13px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* for all container to get in center  */

  .section {
    padding: 1.5rem;
  }

  /* header starts from here.*/

  .first {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3rem;
  }

  .logo {
    padding-top: 2rem;
    font-size: 30px;
  }

  /* navbar and tagline has been hidden here */
  .fogo {
    font-size: 16px;
    display: none;
  }

  .second {
    line-height: 1.5;
  }

  .second p {
    margin: 1rem;
    font-size: 1.2rem;
  }

  /* header ends here.*/

  /* main starts here  */

  .main {
    display: flex;
    flex-direction: column;
  }
  main.section {
    margin: 2rem 0 2rem 0;
    font-size: 16px;
  }

  .img {
    width: 18rem;
    padding: 1rem;
    height: max-content;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 5px 5px #a3a0a036;
  }

  img {
    width: 10rem;
    margin: 1rem;
    /* border-radius: 50%; */
  }

  .speakers {
    display: flex;
    flex-direction: column-reverse;
    margin: 2rem 1rem;
  }

  .speakers h3 {
    font-size: 17px;
    margin: 1rem 0 1rem 0;
  }

  /* main ends here  */
}

/* @media only screen and (min-width: 485px) and (max-width: 565px) {
} */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: #ffffff;
  }

  /* main starts here  */
  .second h1 {
    font-size: 3rem;
    margin: 1.5rem 0rem;
  }
  .second p {
    margin: 0rem;
    font-size: 1.2rem;
  }

  .speakers {
    display: flex;
    margin: 2rem 1rem;
  }

  .speakers h2 {
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
  }

  .speakers h3 {
    font-size: 17px;
    margin: 1rem 0 1rem 0;
  }

  .main {
    display: flex;
    flex-direction: column;
  }
  main.section {
    margin: 2rem 0 2rem 0;
    font-size: 17px;
  }

  .img {
    width: 3500px;
    height: max-content;
    margin: 0 0 0 5rem;
    box-shadow: 0px 2px 5px 5px #a3a0a036;
  }

  img {
    width: 70%;
    margin: 0 auto;
  }

  /* main ends here  */
}

@media only screen and (min-width: 1025px) {
  body {
    background-color: #ffffff;
  }

  /* main starts here  */

  .second h1 {
    font-size: 3rem;
    margin: 1.5rem 0rem;
  }
  .second p {
    margin: 0rem;
    font-size: 1.2rem;
  }

  .speakers {
    display: flex;
    margin: 2rem 1rem;
  }

  .speakers h2 {
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
  }

  .speakers h3 {
    font-size: 17px;
    margin: 1rem 0 1rem 0;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main.section {
    font-size: 17px;
    margin: 2rem 0;
  }

  .img {
    width: 4000px;
    height: max-content;
    margin: 0 0 0 5rem;
    box-shadow: 0px 2px 5px 5px #a3a0a036;
  }

  img {
    width: 70%;
    margin: 0 auto;
    /* border-radius: 50%; */
  }

  /* main ends here  */
}

/* schedule style starts here  */

.schedule {
  color: rgba(128, 128, 128, 0.733);
}

.schedule a {
  color: rgba(0, 0, 0, 0.63);
}

table {
  margin-bottom: 5rem;
}
td {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid rgba(110, 108, 108, 0.37);
}

th {
  padding-right: 2rem;
  font-weight: 100;
  text-align: right;
}

.main-head {
  font-size: 1.7rem;
  font-weight: 500;
}

/* Register */

.register {
  display: flex;
}

.register-form {
  margin-left: 2rem;
}
textarea {
  display: block;
  margin-bottom: 1rem;
}
.register-form a {
  display: inline-block;
  color: #f1f1f1;
  background-color: rgb(66, 92, 63);
  padding: 0.8rem 2rem;
  border-radius: 5px;
}
