@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  transition: 250ms ease;
}
:root {
  --main-color: #91a6ff;
  --rich-black: #00171f;
  --silk: #f5d0c5;
  --blu: #00a6fb;
  --black: #000000ff;
  --blue-jeans: #48acf0ff;
  --tickle-me-pink: #ff82a9ff;
  --spanish-pink: #ffc0beff;
  --misty-rose: #ffebe7ff;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* for all container to get in center  */
.container-center {
  max-width: 900px;
  margin: auto;
}

.section {
  padding: 2rem;
}

/* header starts from here.*/
header {
  /* background-color: rgb(225, 225, 255); */
  background-color: #48acf0;
  border-bottom-left-radius: 1rem;
  box-shadow: 0 10px 6px -6px #777;
}
header.section {
  padding-top: 0;
}
.first {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3rem;
}

.logo {
  padding-top: 2rem;
  font-weight: 500;
  font-size: 45px;
  text-transform: uppercase;
  line-height: 0.9;
  border-top: 4px solid rgb(226, 42, 186);
}

.logo a {
  color: #89023e;
}

.logo a:hover {
  color: #30343f;
}

.tagline {
  color: #30343f;
  position: relative;
  left: 10.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar li {
  padding-left: 1rem;
}

.navbar a {
  font-weight: 500;
  color: #89023e;
}

.navbar a:hover {
  color: #30343f;
  border-bottom: 3px solid #30343f;
}
.second {
  font-weight: 500;
  /* text-align: center; */
  line-height: 2;
}
.second h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-weight: 700;
}
.second p {
  font-size: 1.3rem;
}
.btn {
  margin: 1.5rem 0 2rem 0;
  display: inline-block;
  border: 3px solid #89023e;
  border-radius: 1rem;
  padding: 1rem 2.5rem;
  color: black;
}

.btn:hover {
  background-color: #fd91c2c4;
}

/* header ends here.*/

/* main starts here  */

.main {
  display: flex;
}
main.section {
  margin: 2rem 0 2rem 0;
  font-size: 15px;
}
img {
  width: 300px;
  margin: 1rem 2rem 1rem 0;
  border-radius: 10px;
}

.bold {
  text-transform: uppercase;
  font-weight: 700;
}
.img h3 {
  font-weight: 400;
  margin-bottom: 2rem;
}
/* main ends here  */

/* footer starts here  */
footer {
  background-color: mistyrose;
  border-top-right-radius: 1rem;
}
footer .container-center {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1rem 0;
}

footer .navbar {
  font-size: 13px;
}
/* footer ends here  */

@media only screen and (max-width: 480px) {
  body {
    background-color: #ffffff;
  }

  /* for all container to get in center  */

  .section {
    padding: 0.8rem;
  }

  /* header starts from here.*/

  header.section {
    padding-top: 0;
  }

  .first {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.5rem;
  }

  .logo {
    padding-top: 1.3rem;
    font-weight: 500;
    font-size: 20px;
  }

  /* navbar and tagline has been hidden here */
  .fogo {
    font-size: 12px;
    display: none;
  }

  .second {
    font-weight: 500;
    /* text-align: center; */
    line-height: 1.5;
  }
  .second h1 {
    font-size: 25px;
    font-weight: 500;
    margin: 1.5rem 0 1.5rem 0;
    line-height: 1.2;
  }
  .second p {
    font-size: 1rem;
  }

  /* header ends here.*/

  footer .navbar {
    display: none;
    font-size: 13px;
  }

  /* main starts here  */

  .main {
    display: flex;
    flex-direction: column;
  }
  main.section {
    margin: 2rem 0 2rem 0;
    font-size: 15px;
  }

  .img {
    width: 250px;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin: 0 auto;
    background-color: #ffffff;
    margin-bottom: 2rem;
    /* text-align: center; */
    box-shadow: 0px 2px 5px 5px #a3a0a036;
  }

  img {
    width: 200px;
    border-radius: 0;
    margin: 1rem;
    border-radius: 5px;
  }

  .bold {
    text-transform: uppercase;
    font-weight: 700;
  }

  .img h3 {
    font-weight: 400;
    margin-bottom: 2rem;
  }
  /* main ends here  */
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    background-color: #ffffff;
  }

  /* for all container to get in center  */

  .section {
    padding: 1.5rem;
  }

  /* header starts from here.*/

  .first {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3rem;
  }

  .logo {
    padding-top: 2rem;
    font-size: 30px;
  }

  /* navbar and tagline has been hidden here */
  .fogo {
    font-size: 12px;
    display: none;
  }

  .second {
    line-height: 1.5;
  }
  .second h1 {
    font-weight: 300;
    margin: 1.5rem 0 1.5rem 0;
  }
  .second p {
    font-size: 1.2rem;
  }

  /* header ends here.*/

  /* main starts here  */

  .main {
    display: flex;
    flex-direction: column;
  }
  main.section {
    margin: 2rem 0 2rem 0;
    font-size: 16px;
  }

  .img {
    width: 300px;
    padding: 1rem;
    margin: 0 auto;
    background-color: #ffffff;
    margin-bottom: 2rem;
    /* text-align: center; */
    box-shadow: 0px 2px 5px 5px #a3a0a036;
  }

  img {
    width: 270px;
    margin: 1rem;
    border-radius: 5px;
  }

  /* main ends here  */
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: #ffffff;
  }

  /* main starts here  */

  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main.section {
    margin: 2rem 0 2rem 0;
    font-size: 16px;
  }

  .img {
    width: 300px;
    padding: 1rem;
    margin: 0 auto;
    background-color: #ffffff;
    margin-bottom: 2rem;
    /* text-align: center; */
    box-shadow: 0px 2px 5px 5px #a3a0a036;
  }

  img {
    width: 270px;
    margin: 1rem;
    border-radius: 5px;
  }

  /* main ends here  */
}

@media only screen and (min-width: 1025px) {
  body {
    background-color: #ffffff;
  }

  /* main starts here  */

  .main {
    display: flex;
    justify-content: center;
  }
  main.section {
    font-size: 17px;
  }

  .img {
    width: 350px;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 5px #a3a0a036;
  }

  img {
    width: 300px;
    margin: 1rem;
    border-radius: 5px;
  }
  .img p,
  h3 {
    margin-left: 1rem;
  }

  /* main ends here  */
}
